@font-face {
  font-family: 'MyIcons';
  src: url('../../icons/copy.svg') format('svg');
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none
}

.pageLink {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #D940A4;
  background-color: #FEF1F9;
  border: 1px solid #FFCBEC;
  margin: 0 4px;
}

.isPrevious {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M10.2324 11.8159C10.4621 11.577 10.4546 11.1972 10.2158 10.9675L7.06557 8L10.2158 5.0325C10.4546 4.80282 10.4621 4.423 10.2324 4.18413C10.0027 3.94527 9.6229 3.93782 9.38404 4.1675L5.78404 7.5675C5.66639 7.68062 5.5999 7.83679 5.5999 8C5.5999 8.16321 5.66639 8.31938 5.78404 8.4325L9.38404 11.8325C9.6229 12.0622 10.0027 12.0547 10.2324 11.8159Z' fill='black' fill-opacity='0.2'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

.isNext {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.7676 11.8159C5.53792 11.577 5.54537 11.1972 5.78423 10.9675L8.93443 8L5.78423 5.0325C5.54537 4.80282 5.53792 4.423 5.7676 4.18413C5.99727 3.94527 6.3771 3.93782 6.61596 4.1675L10.216 7.5675C10.3336 7.68062 10.4001 7.83679 10.4001 8C10.4001 8.16321 10.3336 8.31938 10.216 8.4325L6.61596 11.8325C6.3771 12.0622 5.99727 12.0547 5.7676 11.8159Z' fill='black' fill-opacity='1'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

.isPrevious, .isNext {
  cursor: pointer;
  color: #000000;
  background-color: #fff;
  border: none;
}

.isDisabled {
  cursor: no-drop;
}

.isClick {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M10.2324 11.8159C10.4621 11.577 10.4546 11.1972 10.2158 10.9675L7.06557 8L10.2158 5.0325C10.4546 4.80282 10.4621 4.423 10.2324 4.18413C10.0027 3.94527 9.6229 3.93782 9.38404 4.1675L5.78404 7.5675C5.66639 7.68062 5.5999 7.83679 5.5999 8C5.5999 8.16321 5.66639 8.31938 5.78404 8.4325L9.38404 11.8325C9.6229 12.0622 10.0027 12.0547 10.2324 11.8159Z' fill='black'/></svg>");
}

.isDisabledNext {
  cursor: no-drop;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.7676 11.8159C5.53792 11.577 5.54537 11.1972 5.78423 10.9675L8.93443 8L5.78423 5.0325C5.54537 4.80282 5.53792 4.423 5.7676 4.18413C5.99727 3.94527 6.3771 3.93782 6.61596 4.1675L10.216 7.5675C10.3336 7.68062 10.4001 7.83679 10.4001 8C10.4001 8.16321 10.3336 8.31938 10.216 8.4325L6.61596 11.8325C6.3771 12.0622 5.99727 12.0547 5.7676 11.8159Z' fill='black' fill-opacity='0.2'/></svg>");
}

.table {
  table-layout: revert !important;
}

.loader {
  position: absolute;
  top: 0;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 7px solid rgba(0, 0, 0, 0.06);;
  border-right-color: #D940A4;
  animation: l2 1s infinite linear;
  top: 50%;
  left: 50%;
}
@keyframes l2 {to{transform: rotate(1turn)}}