// SPDX-License-Identifier: LicenseRef-Blockscout

import { Box } from '@chakra-ui/react';
import React from 'react';

import __PageName__ListItem from 'src/__area__/__featureName__/pages/index/__PageName__ListItem';

interface Props {
  // TODO: replace `unknown` with the real item type
  items: Array<unknown>;
  isLoading?: boolean;
}

const __PageName__List = ({ items, isLoading }: Props) => {
  return (
    <Box>
      { items.map((item, index) => (
        <__PageName__ListItem key={ index } item={ item } isLoading={ isLoading }/>
      )) }
    </Box>
  );
};

export default __PageName__List;
