
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.spinnerloading {
    animation: spin 1s linear infinite;
}

@keyframes l2 {to{transform: rotate(1turn)}}

.loader {
  position: absolute;
  top: 0;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 7px solid rgba(0, 0, 0, 0.06);;
  border-right-color: #C15E97;
  animation: l2 1s infinite linear;
  top: 50%;
  left: 50%;
}
