.stake-date-picker .ant-picker-range-separator{
    padding: 0 10px 0 0;
    margin-left: -2px;
}

.stake-date-picker  .ant-picker-input { text-align: center;}


@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/assets/fonts/HarmonyOS_Sans_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.modal-spinner {
    width: 40px;
    height: 40px;
    border: 2px solid #C15E97;
    border-bottom-color: #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    transform-origin: 50% 50%;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
  


.node-staking-custom-table .ant-table-thead > tr > th {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.node-staking-custom-table .ant-table {
  box-shadow: none !important;
  border: none !important;
}

.node-staking-custom-table .ant-table-thead > tr > th {
  border-right: none !important; /* 去掉右边框 */
  border-bottom: none !important; /* 可选：去掉底部分割线 */
}

/* 额外：去除表格本身的边框和阴影 */
.node-staking-custom-table .ant-table {
  border: none !important;
  box-shadow: none !important;
}

.node-staking-custom-table .ant-table-cell  {
  border: none !important;
  box-shadow: none !important;
}

.node-staking-custom-table th::before {
  content: '';
  display: none;
}


.main-page-hero-banner {
  border-radius: 24px;
  background: var(--Moca-Chain-Gradient, linear-gradient(90deg, #FFF7D2 0%, #FFCFED 46.46%, #BFD2FF 100%));
}


.main-page-hero-banner  .title-text {
  color: var(--text-primary, #170811);
  text-align: center;

  /* D-heading-3 */
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.user-connect-wallet-button-desktop {
  color: var(--text-on-colour, #FFF);
  text-align: center;

  /* button-1 */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: var(--button-primary, #EF6ABA) !important;
}