.stake-date-picker .ant-picker-range-separator{
    padding: 0 10px 0 0;
    margin-left: -2px;
}

.stake-date-picker  .ant-picker-input { text-align: center;}


@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('/assets/fonts/HarmonyOS_Sans_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.modal-spinner {
    width: 40px;
    height: 40px;
    border: 2px solid #C15E97;
    border-bottom-color: #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    transform-origin: 50% 50%;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
  


.node-staking-custom-table .ant-table-thead > tr > th {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.node-staking-custom-table .ant-table {
  box-shadow: none !important;
  border: none !important;
}

.node-staking-custom-table .ant-table-thead > tr > th {
  border-right: none !important; /* 去掉右边框 */
  border-bottom: none !important; /* 可选：去掉底部分割线 */
}

/* 额外：去除表格本身的边框和阴影 */
.node-staking-custom-table .ant-table {
  border: none !important;
  box-shadow: none !important;
}

.node-staking-custom-table .ant-table-cell  {
  border: none !important;
  box-shadow: none !important;
}

.node-staking-custom-table th::before {
  content: '';
  display: none;
}