@import url('../toolkit/theme/design-system/dist/kda-design-system.tokens.css');

@font-face {
  font-family: 'InterFallback';
  src: url('/static/fonts/Inter-fallback.woff2') format('woff2');
  unicode-range: U+2192; /* Only the right arrow */
  font-display: swap;
}

[data-position="first-item"] {
  border-top-left-radius: var(--kda-explorer-navigation-dimensions-select-option-radius);
  border-top-right-radius: var(--kda-explorer-navigation-dimensions-select-option-radius);
}

[data-position="last-item"] {
  border-bottom-left-radius: var(--kda-explorer-navigation-dimensions-select-option-radius);
  border-bottom-right-radius: var(--kda-explorer-navigation-dimensions-select-option-radius);
}
