name: Deploy review environment (L2)

on:
  workflow_dispatch:
    inputs:
      envs_preset:
          description: ENVs preset
          required: false
          default: ""
          type: choice
          options:
            - none
            - arbitrum
            - arbitrum_nova
            - arbitrum_sepolia
            - base
            - celo
            - celo_sepolia
            - garnet
            - gnosis
            - eth
            - eth_sepolia
            - filecoin
            - immutable
            - mega_eth
            - neon_devnet
            - numine
            - optimism
            - optimism_sepolia
            - optimism_superchain
            - polygon
            - rootstock
            - scroll_sepolia
            - shibarium
            - stability
            - zetachain
            - zetachain_testnet
            - zkevm 
            - zilliqa
            - zksync
            - zora

permissions:
  contents: read
  packages: write
  pull-requests: write

jobs:
  make_slug:
    name: Make GitHub reference slug
    runs-on: ubuntu-latest
    outputs:
      REF_SLUG: ${{ steps.output.outputs.REF_SLUG }}
    steps:
      -   name: Inject slug/short variables
          uses: rlespinasse/github-slug-action@v4.4.1

      -   name: Set output
          id: output
          run: echo "REF_SLUG=${{ env.GITHUB_REF_NAME_SLUG }}" >> $GITHUB_OUTPUT

  publish_image:
    name: Publish Docker image
    needs: make_slug
    uses: './.github/workflows/publish-image.yml'
    with:
        tags: |
          type=raw,value=review-${{ needs.make_slug.outputs.REF_SLUG }}
        build_args: ENVS_PRESET=${{ inputs.envs_preset }}
        platforms: linux/amd64
    secrets: inherit

  deploy_review_l2:
    name: Deploy frontend (L2)
    needs: [ make_slug, publish_image ]
    uses: blockscout/actions/.github/workflows/deploy_helmfile.yaml@main
    with:
      appName: review-l2-${{ needs.make_slug.outputs.REF_SLUG }}
      globalEnv: review
      helmfileDir: deploy
      kubeConfigSecret: ci/data/dev/kubeconfig/k8s-dev
      vaultRole: ci-dev
    secrets: inherit
    permissions: write-all
